$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


/////////////////////////////////////////////////////////////////////////////
// BASIC CSS FOR ALL THE SECTIONS
/////////////////////////////////////////////////////////////////////////////

// - TITLE

.title {
  font-size:5em;
}

// - basic style rules:
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.parallax__layer {
  position: absolute; //The perspective property defines how many pixels a 3D element is placed from the view. This property allows you to change the perspective on how 3D elements are viewed.
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}

.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}

.title {
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/////////////////////////////////////////////////////////////////////////////
//  Z-INDEX FOR THE DIFFERENT SECTIONS
/////////////////////////////////////////////////////////////////////////////

#group1 {
  z-index: 5;
}
#group2 {
  z-index: 3;
}
#group3 {
  z-index: 4;
}
#group4 {
  z-index: 2;
}
#group5 {
  z-index: 3;
}
#group6 {
  z-index: 2;
}
#group7 {
  z-index: 3;
}


/////////////////////////////////////////////////////////////////////////////
//  COLORS FOR THE DIFFERENT SECTIONS
/////////////////////////////////////////////////////////////////////////////

#group1 .parallax__layer--base {
  background: rgb(50,50,50);

}

#group2 .parallax__layer--back {
  background: rgb(33,30,28);
}

#group3 .parallax__layer--base {
  background: rgb(18,23,8);
}

#group4 .parallax__layer--deep {
  background: rgb(50,50,57);
}

#group5 .parallax__layer--base {
  background: rgb(221,229,156);
}

#group6 .parallax__layer--back {
  background: rgb(198,201,235);
}

#group7 .parallax__layer--base {
  background: rgb(216,225,168);
}


/////////////////////////////////////////////////////////////////////////////
//  ANIMATION EFFECT FOR TITLES
/////////////////////////////////////////////////////////////////////////////

#group1 .title {
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
  animation: mymove 5s infinite;
}


@keyframes mymove {
  0%   {left: 50%;}
  20%  {left: 55%;}
  40%  {left: 45%;}
  60%  {left: 60%;}
  80%  {left: 40%;}
  100% {left: 45%;}
}